<h1>Display your Pirate here</h1>
 Pirate Name: <%=@pirate_name%>
 Pirate Weight: <%=@pirate_weight%>
 Pirate Height: <%=@pirate_height%>
<h2>Display your first ship here</h2>
 Ship Name: <%=@ship1_name%>
 Ship Type: <%=@ship1_type%>
 Ship Booty: <%=@ship1_booty%>
<h2>Display your second ship here</h2>
 Ship Name: <%=@ship2_name%>
 Ship Type: <%=@ship2_type%>
 Ship Booty: <%=@ship2_booty%>
 
  
  
  
 
 

 
 